SalesData-adf14/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SalesData-adf14"
		},
		"ls_DataBricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ls_DataBricks'"
		},
		"ls_destination_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_destination_adls'"
		},
		"ls_DataBricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1227-071056-ro57iur8"
		},
		"ls_destination_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://salesdatalake14.dfs.core.windows.net/"
		},
		"ls_salesdatakeyvault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://SalesDataKeyVault14.vault.azure.net/"
		},
		"ls_onPrem_DataSource_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "LAPTOP-1MT0A11L\\SQLEXPRESS"
		},
		"ls_onPrem_DataSource_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "testdbnew"
		},
		"ls_onPrem_DataSource_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "vinna"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_DataBricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2705639288519265.5.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ls_DataBricks_accessToken')]"
					},
					"existingClusterId": "[parameters('ls_DataBricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_destination_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_destination_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_destination_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_salesdatakeyvault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ls_salesdatakeyvault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Which is used to connect on premise SSMS",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_dest_adls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_destination_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"File_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().File_Name",
							"type": "Expression"
						},
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_destination_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_onPrem_DataSource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('ls_onPrem_DataSource_properties_typeProperties_server')]",
					"database": "[parameters('ls_onPrem_DataSource_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_onPrem_DataSource_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "ls_salesdatakeyvault",
							"type": "LinkedServiceReference"
						},
						"secretName": "OnPremDbPassword",
						"secretVersion": "1799729eea93454da8be4c61e4c1ccb3"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIR')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_salesdatakeyvault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_lookup_OnPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_onPrem_DataSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_onPrem_DataSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_onPrem')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_onPrem_DataSource",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Table_Name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@dataset().Table_Name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_onPrem_DataSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_onPrem_lookup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_onPrem_DataSource",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_onPrem_DataSource')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesDataPipeline_end_to_end')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetTableNamesFromOnPrem",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT name as Table_Name FROM sys.tables;\n\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_lookup_OnPrem",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachOnPremTable",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetTableNamesFromOnPrem",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GetTableNamesFromOnPrem').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "IngestDataFromOnPremToBronze",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_onPrem",
											"type": "DatasetReference",
											"parameters": {
												"Table_Name": {
													"value": "@item().Table_Name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_dest_adls",
											"type": "DatasetReference",
											"parameters": {
												"File_Name": {
													"value": "@item().Table_Name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Create Bronze Tables",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "ForEachOnPremTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Create Bronze Table"
						},
						"linkedServiceName": {
							"referenceName": "ls_DataBricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create Silver tables",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Create Bronze Tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Create Silver Table"
						},
						"linkedServiceName": {
							"referenceName": "ls_DataBricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Create Gold Tables",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Create Silver tables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Create Gold Table"
						},
						"linkedServiceName": {
							"referenceName": "ls_DataBricks",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-12-29T07:47:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_lookup_OnPrem')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_DataBricks')]",
				"[concat(variables('factoryId'), '/datasets/ds_onPrem')]",
				"[concat(variables('factoryId'), '/datasets/ds_dest_adls')]"
			]
		}
	]
}